/node_modules/

/public/*
/.idea/

bz2.d.ts
bz2.js
bz2.wasm

!/test/resources/*

/src/public/data/players
/src/public/data/src

# swap lines below and provide files to host a webworker server on github

/src/public/data/*
# !/public/LoginThread.js
# !/public/worker.js
# !/public/bzip2.wasm
# !/public/rsmod-pathfinder.wasm
