.list-group {
    margin-left: 0;
    margin-bottom: 1rem;
    border: $input-border;
    border-radius: 0;
    background: $white;
    box-shadow: none;
    overflow: hidden;
    color: $black;
}

.list-group> :last-child {
    margin-bottom: 0;
}

.list-group-item {
    padding: 1rem;
    border-bottom: $input-border;
}

.list-group-item> :last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.list-group-item.active {
    color: $white;
    background-color: #1779ba;
    border-color: 1px solid #1779ba;
}

.list-group-item-center {
    text-align: center;
}

.list-group-item:hover,
.list-group-item:focus {
    cursor: pointer;
    background-color: #666666;
}

.list-group-item:hover.active,
.list-group-item:focus.active {
    background-color: #1779ba;
}

.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus,
.list-group-item[disabled],
.list-group-item[disabled]:hover,
.list-group-item[disabled]:focus {
    color: $black;
    cursor: not-allowed;
    background-color: $white;
}
